@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: #00070A;
    background-size: cover;
    background-attachment: scroll;
    color: #E0DED1;
    font-family: 'Montserrat', serif;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

p {
    margin: 0;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(32, 34, 33, 0.7);
    backdrop-filter: blur(10px);
}

.menu-bar a img {
    width: 10em;
    padding: 0%;
    margin: 0%;
}

.menu-bar p {
    padding: 1em;
}

.menu-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-bar a {
    text-decoration: none;
    color: #E0DED1;
    padding: 1em;
}

.menu-bar a:hover {
    background-color: #303531;
}

.active {
    background-color: #956E2F;
    pointer-events: none;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(32, 34, 33, 0.7);
    backdrop-filter: blur(10px);
    margin: 3em;
    padding: 1em;
    height: auto;
}